{% extends "layout.njk" %}

{% block content %}

    <div id="conteudo">
        <img src="https://pbs.twimg.com/profile_images/1291682473592659968/sEorc6oh.jpg" alt="Logo Rocketseat">
        <h1>Rocketseat</h1>
        <p>Uma empresa de educação na área tecnologica, somos uma comunidade incrível de programadores em busca do próximo nível.</p>
       
    </div>

    <div id="tecnologias">
        <p>Tecnologias:</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/220px-Node.js_logo.svg.png" alt="NodeJs">

        <img src="https://colorlib.com/wp/wp-content/uploads/sites/2/react-dev-tools-logo.jpg" alt="">

        <img src="https://miro.medium.com/max/1024/1*xDi2csEAWxu95IEkaNdFUQ.png" alt="">
    </div>

    <footer>
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>

    </footer>

{% endblock %}